body {
    background: #3c4f57;
    text-align: center;
    font-family: Arial;
    color: white;
}

.container {
    margin-top: 180px;
    position: relative;
    display: inline-block;
    width: 100%;
}

h2 {
    margin-top: 80px; 
}

.line {
    height: 2px;
    background: white;
    width: 60%;
    margin: 10px auto;
}

.queue {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    position: relative;
}

.box {
    width: 120px;
    height: 60px;
    border-radius: 5px;
}

.red { 
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue; 
}

.yellow {
    background: yellow; 
}

.pink {
    background: pink;
}

.violet {
    background: violet;
}

.queue .box:first-child {
    transform: translateY(-90px); 
}

.queue .box:last-child {
    transform: translateY(90px); 
}

.controls {
    margin-top: 150px; 
    margin-bottom: 50px; 
    display: flex;
    justify-content: center;
    gap: 20px; 
}

button {
    padding: 10px 35px; 
    font-size: 18px;  
    font-weight: bold; 
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #3c4f57;
    transition: 0.3s;  
}

button:hover {
    transform: scale(1.05);
}

